<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>196995626854-srso6ou3nla5ai1drjqiv3fi4n3gmdec.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.196995626854-srso6ou3nla5ai1drjqiv3fi4n3gmdec</string>
	<key>API_KEY</key>
	<string>AIzaSyDAnxz-6XE0BmLySBbjDlXkwdV7klBAEGI</string>
	<key>GCM_SENDER_ID</key>
	<string>196995626854</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hackApp</string>
	<key>PROJECT_ID</key>
	<string>youmeet-9d641</string>
	<key>STORAGE_BUCKET</key>
	<string>youmeet-9d641.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:196995626854:ios:ca9ca650402e128e803aa7</string>
</dict>
</plist>